@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300&family=Roboto:wght@100&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body,
h1,
h2,
h3,
header,
nav,
ul,
footer{
    margin: 0;
}

:root{
    --first: #c21010;
    --second: #e64848;
    --third: #fffde3;
    --four: #cfe8a9;
    --five: #770707;
    --box: 250px;
}
li {
    list-style: none;
}

a {
    text-decoration: none;
}
/* CABECERA---------------------------- */

.navbar {
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding-right: 1rem;
    height: 70px;
    width: 100%;
    position: fixed;
    z-index: 2;
    top: 0;
}
.menu-header{
    position: relative;
    margin: auto;
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)),
    url('../assets/images/sushifondo2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
    max-width: 1150px;
    color: #fff;
    /* opacity: .9; */
}

.nav-logo{
    height: 7rem;
    width: 7rem;
    margin-top: 1rem;
}

.nav-link{
    text-decoration: none;
    color: #666;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.nav-link:hover{
    text-align: center;
    transition: all .25s ease;
    font-weight: bold;
}
.hamburger {
    display: block;
    cursor: pointer;
}

.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg);
}
.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--second);
}
.flex{
    height: 70px;
    max-width: 1150px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* LOCAL INFORMACION ------------------------------------------- */

.background-logo{
    display: flex;
    justify-content: center;
    position: relative;
    margin: auto;
    background: linear-gradient(var(--five), var(--second));
    background-color: var(--five);
    max-width: 1150px;
    height: 6rem;
}

.local-container{
    max-width: 1150px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.local-logo{
    display: block;
    margin-top: -4rem;
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    border: .25rem solid white;
}

.center{
    text-align: center;
}
.local-title,
.local-p{
    margin: .5rem;
}
.info-container{
    width: 95%;
}

.local-p{
    font-weight: 400;
    color: #666;
}
.local-location{
    margin: .15rem;
    float: left;
    width: 28px;
    height: 28px;
}

.social-local-container{
    margin: 1rem 0;
}
.social-local{
    margin: auto;
    margin-left: .5rem;
    display: flex;
    justify-content: flex-start;
    gap: .5rem;
}
.social-local a{
    width: 45px;
    height: 45px;
    background-size: 45px;
    background-repeat: no-repeat;
    background-color: #fff;
    background-position: center;
    border-radius: 50%;
}
.social-local a:hover{
    opacity: .75;
    transition: all .25s ease;
}
.facebook-local{
    background-image: url('../assets/icons/facebookpng.png');
}
.instagram-local{
    background-image: url('../assets/icons/instagrampng.png');
}
.whatsapp-local{
    background-image: url('../assets/icons/whatsapppng.png');
}

/* MENU ---------------------------------------------------------- */

main section{
    margin: auto;
    max-width: 1150px;
}
#category-title{
    margin: .5rem;
    padding-top: .5rem;
    font-size: 1.5rem;
}
.big{
    --box: 300px;
}
.small{
    --box: 150px;
}
.product-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(100%, var(--box)), 1fr));
    grid-auto-rows: minmax(100px, 1fr);
    gap: 15px;
    padding: .5rem;
}
.local-product{
    padding: .25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: .25rem;
    gap: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    cursor: pointer;
}
.image-container{
    /* background-image: url(../assets/images/sushiramen.png); */
    /* background-position: center;
    background-size: cover; */
    width: 100%;
    height: 180px;
    border-radius: .25rem;
}
.local-product p{
    margin: 0;
    margin-bottom: .5rem;
    color: #1f8027;
}
.local-product h3{
    text-align: center;
}
.local-product:hover{
    transition: all .5s ease;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.buy-button{
    display: block;
    margin: 2rem auto;
    padding: .5rem 1rem;
    background-color: var(--second);
    font-family: 'Poppins';
    font-weight: 700;
    font-size: larger;
    letter-spacing: 1px;
    color: #fff;
    border-radius: 1.5rem;
    border: 2px solid var(--second);
    cursor: pointer;
}
.buy-button:hover{
    transition: all .5s ease;
    background-color: #fff;
    border: 2px solid var(--second);
    color: var(--second);
}

.cart{
    background-color: #fff;
    border: .2rem solid #111;
    border-radius: 50%;
    padding: .1rem;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 1rem;
    cursor: pointer;
    opacity: .7;
}
/* PIE DE PAGINA -------------------------------------------- */

footer{
    margin: auto;
    background-color: var(--second);
    padding: 1rem;
    max-width: 1150px;
}
footer p{
    margin: 0;
    text-align: center;
    color: #fff;
}






/* MEDIUM & LARGE DEVICES ---------------------------------------- */

@media screen and (min-width: 768px){
    body,
    nav,
    header,
    main,
    footer{
        margin: auto;
        max-width: 1150px;
    }


    .hamburger {
        display: none;
    }
    
    .bar {
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        background-color: var(--second);
    }
    
    .nav-menu {
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        gap: 1rem;
        list-style: none;
    }
    
    .buy-button{
        display: none;
    }
    .cart{
        display: none;
    }
    footer{
        margin-top: 1rem;
    }
}

/* SMALL DEVICE NAVEGATOR --------------------- */

@media screen and (max-width: 768px){
    .nav-menu {
        color: #666;
        position: fixed;
        left: -100%;
        top: 1rem;
        background: linear-gradient(to bottom, #fff, #fff, rgb(207, 207, 207));
        opacity: .9;
        width: 100%;
        height: 100%;
        transition: 0.3s;
        font-size: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        gap: 4rem;
    }
    .nav-menu.active {
        left: 0;
    }
}