@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&family=Josefin+Sans&family=Poppins:wght@100;300&family=Roboto:wght@100&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
:root{
    --first: #c21010;
    --second: #e64848;
    --third: #fffde3;
    --four: #cfe8a9;
}

html {
	scroll-behavior: smooth;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

/* .header{
    border-bottom: 1px solid var(--first);
} */



.navbar {
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding-right: 1rem;
    height: 70px;
    width: 100%;
    position: fixed;
    z-index: 2;
    top: 0;
}
.flex{
    height: 70px;
    max-width: 1150px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
    list-style: none;
}

.nav-link{
    text-decoration: none;
    color: #666;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.nav-link:hover{
    text-align: center;
    transition: all .25s ease;
    font-weight: bold;
}

.nav-logo{
    height: 7rem;
    width: 7rem;
    margin-top: 1rem;
}
/* MENU HAMBURGUESA --------------------------------------- */

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--second);
}

/* SLIDER --------------------------------------------------*/

#headerr{
    position: relative;
    margin: auto;
    min-height: min(100vh, 900px);
    max-width: 1150px;
    list-style: none;
    z-index: 1;
}

#headerr button{
    position: absolute;
    top: 0;
    bottom: 0;
    border: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
    background-color: transparent;
    padding: 2rem;
    font-size: min(5vh + 1.2rem);
}
#headerr button.prev{
    left: 0;
    cursor: pointer;

}
#headerr button.next{
    right: 0;
    cursor: pointer;
}

#slide-text-container{
    background: #fff;
    width: 275px;
    height: 160px;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
#slide-text-container h2{
    background: #fff;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 3.25rem;
    color: var(--four);
}
#slide-text-container p{
    background: #fff;
    font-family: 'Inter', sans-serif;
    font-size: 1.15rem;
    font-weight: bold;
}

.slide li{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all .5s ease;
}
.slide li.active{
    opacity: 1;
}

.slider-flex{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.slider-flex img{
    padding: 1rem;
    display: block;
    min-width: 250px;
    min-height: 250px;
    max-height: 500px;
    max-width: 500px;
}

/* CONTENIDO PRINCIPAL --------------------------------------- */

    /* 多QUIENES SOMOS? 多QUE OFRECEMOS? */
    .main-width{
        height: 800px;
        width: 100%;
        background-image: url('../assets/images/fondoindex.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }
    .main-grid{
        height: 100%;
        max-width: 750px;
        margin: auto;
        padding: 1rem;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
        grid-auto-rows: minmax(380px, auto);
        grid-auto-flow: dense;
        gap: 1rem;
    }
    .main-content{
        height: 380px;
        align-self: center;
        justify-self: center;
        background-color: #fff;
        color: #2a4700;
        margin: 2rem auto;
        padding: .1rem 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        flex-wrap: wrap;
        align-items: center;
        border-radius: 1rem;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }


    /* 多COMO REALIZO MI PEDIDO?--------------------- */
    .main-tips{
        height: 900px;
    }
    .main-tips-img{
        width: 250px;
    }
    .grid-row{
        max-width: 1000px;
        margin: .5rem auto 3rem;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(235px, 1fr));
        grid-auto-rows: minmax(100px, auto);
        gap: 2rem;
    }

    .section-title{
        font-family: 'Josefin Sans', 'Poppins', sans-serif;
        font-size: 2rem;
        color: var(--four);
        text-align: center;
        padding: 2.5rem;
    }

    .grid-row div{
        padding: .5rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 1rem;
        height: 630px;
    }
    .grid-row div h3{
        color: #2a4700;
    }
    .grid-row div p{
        max-width: 300px;
        max-height: 100px;
    }

/* PIE DE PAGINA ---------------------------------------------*/

#form{
    position: relative;
    z-index: 1;
    background-color: var(--four);
    margin: auto;
    margin-top: -.25rem;
    max-width: 800px;
    padding: 2rem;
    border: .25rem solid #fff;
    border-top: none;
    border-bottom-left-radius: .75rem;
    border-bottom-right-radius: .75rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 5px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: .25rem;
}
#form h3{
    margin-bottom: 1rem;
    font-size: 1.5rem;
    color: #2a4700;
}
#form input{
    padding: .25rem;
    margin-bottom: .75rem;
    border-radius: .25rem;
    border: none;
}
#form input:focus {
    border: none;
    font-weight: bold;
}

#form textarea{
    max-width: 100%;
    max-height: 6rem;
    padding: .25rem;
    border-radius: .25rem;
    border: none;
}
#form button{
    cursor: pointer;
    font-weight: bold;
    letter-spacing: 1px;
    margin-top: .5rem;
    border-radius: .25rem;
    padding: .5rem 1.5rem;
    text-transform: uppercase;
    color: #2a4700;
    background-color: #fff;
    border: none;
}
#form button:hover{
    transition: all .25s ease;
    color: #fff;
    background-color: #2a4700;
}

footer{
    background-color: var(--four);
    padding: 2rem;
    padding-top: 0;
}

/* COPYRIGHT ---------------------- */
.copy{
    font-size: 1.1rem;
    color: #fff;
    padding-top: 1rem;
    text-align: center;
}
.copy strong{
    letter-spacing: 2px;
}

/* NAV SOCIAL */
.nav-social{
    margin: auto;
    max-width: 1150px;
    max-height: 200px;
    margin: 1rem auto;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #2a4700;
    padding: .5rem;
}
    /* Nav footer */
    .nav-footer{
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
    }
    .nav-footer li a:hover{
        border-bottom: 1px solid #fff;
    }
    .nav-footer li a{
        font-size: 1.1rem;
        color: #fff;
    }
    /* Redes Sociales */
    .social{
        padding: .5rem;
        display: flex;
        gap: 10px;
    }
    .social a{
        width: 40px;
        height: 40px;
        border-radius: 4px;
        background-color: var(--four);
        background-position: center;
        background-size: 30px;
        background-repeat: no-repeat;
    }
    .social a:hover{
        background-size: 40px;
    }

    .facebook{
        background-image: url('../assets/icons/facebook.svg');
    }
    .github{
        background-image: url('../assets/icons/github.svg');
    }
    .youtube{
        background-image: url('../assets/icons/youtube.svg');
    }
    .instagram{
        background-image: url('../assets/icons/instagram.svg');
    }

/*Login*/

.center{
    margin-bottom: 15vw;
    margin-top: 11vw;
    height: 75vh;
}
.backg{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/images/W0l.gif);
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: hidden;
}
.fix{
    position:fixed;
}

.foot{
    position: fixed;
    bottom: 0;
    padding: 2rem;
    padding-top: 15px;
    width: 100%;
    margin-top: 1rem;
}
.color{
    color:#2a4700
}

#left{
    margin-left: 4px;
}

/* SOBRE NOSOTROS ESTILO */

.about-width h1{
    text-align: center;
    margin-top: 7rem;
}
.sobre-nosotros-integrantes{
    display: flex;
    justify-content: space-between;
}
.foto-perfil{
    border-radius: .5rem;
    height: 8rem;
    width: 8rem;
}

.box-integrantes{
    margin: auto;
    gap: 1rem;
    min-width: 360px;
    max-width: 900px;
    color: #222;
    padding: 2.2rem;
}
.flex-card{
    display: flex;
    gap: 1rem;
    border-bottom: 1px solid rgb(212, 212, 212);
    padding: 2.2rem;
}

.flex-card p{
    font-size: 1rem;
}
.flex-card a img:hover{
    transform: scale(1.2);
    opacity: 1;
}
.icons-flex{
    display: flex;
    justify-content: flex-end;
    gap: .5rem;
}
.iconos{
    gap: .5rem;
    height: 1.5rem;
    opacity: .5;
}

.about-width{
    margin: auto;
    max-width: 1160px;
}

/* SMALL DEVICES ------------------------------- */

@media only screen and (max-width: 768px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 1rem;
        background: linear-gradient(to bottom, #fff, #fff, rgb(207, 207, 207));
        opacity: .9;
        width: 100%;
        height: 100%;
        transition: 0.3s;
        font-size: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        gap: 4rem;
    }

    .nav-menu.active {
        left: 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        -webkit-transform: translateY(8px) rotate(45deg);
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        -webkit-transform: translateY(-8px) rotate(-45deg);
        transform: translateY(-8px) rotate(-45deg);
    }

    .backg{
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/images/W0l.gif);
        background-repeat: repeat;
        background-size: cover;
        overflow-y: scroll;
    }

    .center{
        margin-bottom: 25vw;
        margin-top: 17vw;
        height: 45vh;
    }

    /* 多COMO REALIZO MI PEDIDO? */
    .main-tips{
        height: 100%;
    }

    /* SOBRE NOSOTROS */
    .about-width h1{
        margin-bottom: -1rem;
    }
    .flex-card{
        padding: .75rem;
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0;
    }
    .icons-flex{
        margin-top: .5rem;
        justify-content: flex-start;
    }
}
