@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --first: #c21010;
    --second: #e64848;
    --third: #fffde3;
    --four: #cfe8a9;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.header{
    border-bottom: 1px solid var(--first);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--second);
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
}

.nav-item {
    margin-left: 5rem;
}

.nav-link{
    font-size: 1.6rem;
    font-weight: 400;
    color: #475569;
}

.nav-link:hover{
    color: var(--four);
}

.nav-logo {
    font-size: 2.1rem;
    font-weight: 500;
    color: var(--second);
}

main{
    position: relative;
    padding: 2rem;
    z-index: 0;
    grid-area: main;
    width: 900px;
    margin: auto;
    /* border-bottom: 1px; */
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 5px;
    /* background-color: var(--second); */
}
.title{
    padding: 2.5rem;
    text-align: center;
}
.text{
    margin-left: 12%;
    margin-right: 12%;
}
/* SLIDER */

#headerr{
    position: relative;
    min-height: min(100vh, 840px);
    list-style: none;
    z-index: 4;
}
#headerr button{
    position: absolute;
    top: 0;
    bottom: 0;
    border: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
    background-color: transparent;
    padding: 4rem;
    font-size: min(5vh + 1.2rem);
    z-index: 6;
}
#headerr button.prev{
    left: 0;
    cursor: pointer;

}
#headerr button.next{
    right: 0;
    cursor: pointer;
}

.slide li{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all .5s ease;
}
.slide li.active{
    opacity: 1;
}
.slide :nth-child(1n){
    background-image: url(../assets/img-slider/aston-martin.jpg);
    background-size: cover;
    z-index: 4;
}
.slide :nth-child(2n){
    background-image: url(../assets/img-slider/audi-rs-e-tron-gt.jpg);
    background-size: cover;
}
.slide :nth-child(3n){
    background-image: url(../assets/img-slider/maserati-mc20.jpg);
    background-size: cover;
}
.slide :nth-child(4n){
    background-image: url(../assets/img-slider/nio-et5.jpg);
    background-size: cover;
}



/* PIE DE PAGINA */

#form{
    position: relative;
    z-index: 1;
    background-color: white;
    margin: auto;
    width: 60vw;
    padding: 2rem;
    /* border: 1px solid #666;
    border-top: 0; */
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 5px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: .25rem;
}
#form h3{
    margin-bottom: 1rem;
}
#form input{
    margin-bottom: .75rem;
}

#form textarea{
    height: 6rem;
}
#form button{
    margin-left: auto;
    margin-top: .5rem;
    border-radius: .25rem;
    border: 1px solid;
    padding: .5rem 1.5rem;
    color: #124;
    /* background-color: transparent; */
    text-transform: uppercase;
}
#form button:hover{
    color: white;
    background-color: #333;
}
footer{
    background-color: var(--four);
    padding: 2rem;
    padding-top: 0;
}

.copy{
    padding-top: 1rem;
    text-align: center;
}

    /* Redes Sociales */
    .social{
        margin-top: 2rem;
        display: flex;
        justify-content: center;
        flex-direction: row;
        gap: 10px;
        padding: .5rem;
    }
    .social a{
        width: 60px;
        height: 60px;
        border-radius: 4px;
        background-color: var(--four);
        background-position: center;
        background-size: 46px;
        background-repeat: no-repeat;
    }
    .social a:hover{
        background-color: #eee;
        box-shadow: 0 2px 8px #333;
    }

    .facebook{
        background-image: url('../assets/icons/facebook.svg');
    }
    .github{
        background-image: url('../assets/icons/github.svg');
    }
    .youtube{
        background-image: url('../assets/icons/youtube.svg');
    }
    .instagram{
        background-image: url('../assets/icons/instagram.svg');
    }


@media only screen and (max-width: 768px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        -webkit-transform: translateY(8px) rotate(45deg);
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        -webkit-transform: translateY(-8px) rotate(-45deg);
        transform: translateY(-8px) rotate(-45deg);
    }
}
